<md-toolbar color="primary">
  <button type="button" md-button (click)="sidenav.open()">Me contacter</button>
   <span class="spacer"></span>
  <md-icon>fitness_center</md-icon><span>BlogFitness</span>
   <span class="spacer"></span>
  <button md-raised-button color="warn" class="menuslide" type="button" md-button (click)="openDialog()">Connexion</button>
</md-toolbar>

<md-sidenav-container>
  <!-- le contenu de la sidenav -->
  <md-sidenav #sidenav >
    Jolly good!
  </md-sidenav>

  <!-- Contenu de la page -->
  <div >
    <md-grid-list cols="2" rowHeight="2:1" >
      <md-grid-tile id="categoriepanel">1</md-grid-tile>
      <md-grid-tile id="wallpanel" rowspan="2">2</md-grid-tile>
      <md-grid-tile id="chatpanel">3</md-grid-tile>
      <!-- Génération automatique de tiles -->
      <!--
    <md-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.background]="tile.color">
      {{tile.text}}
    </md-grid-tile>
       -->
    </md-grid-list>
  </div>

</md-sidenav-container>